html{
    background-color: #171429;
}

body{
    --margin: 0.5vw;
    margin: var(--margin);
}

#keyboard{
    --keyColor: #efdeef;
    --keySectionSpacingMultiplier: 0.4;
    --keySize: calc((100vw - var(--margin) * 2)/(22 + var(--keySectionSpacingMultiplier) * 2)); /* 100% width divided by (width in regular sized keys, plus spacing distance times amount of spaces */
}

#keyboard > .keyboardRow{
    display: flex;
}

#keyboard .topRow {
    margin-bottom: calc(var(--keySize) * var(--keySectionSpacingMultiplier));
}

#keyboard .lastInRow {
    margin-right: calc(var(--keySize) * var(--keySectionSpacingMultiplier));
}

#keyboard > .keyboardRow > .key{
    width: var(--keySize);
    height: var(--keySize);

    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--keyColor);
    text-align: center;
    align-content: center;
}

#keyboard > .keyboardRow > .keySpacer {
    width: var(--keySize);
    height: var(--keySize);
}

#keyboard > .keyboardRow > .hasKeybind{
    background-color: #d85a5a !important;
}

#keyboard > .keyboardRow > .empty {
    background-color: rgba(from var(--keyColor) r g b / 0.65);
}

#keyboard > .keyboardRow > .funcSpacer {
    width: calc(var(--keySize) * 2/3) !important;
}

#keyboard > .keyboardRow > .tab {
    width: calc(var(--keySize) * 1.5) !important;
}

#keyboard > .keyboardRow > .ctrl {
    width: calc(var(--keySize) * 1.5) !important;
}

#keyboard > .keyboardRow > .shift {
    width: calc(var(--keySize) * 1.3) !important;
}

#keyboard > .keyboardRow > .back {
    width: calc(var(--keySize) * 2) !important;
}

#keyboard > .keyboardRow > .capsLock {
    width: calc(var(--keySize) * 2) !important;
}

#keyboard > .keyboardRow > .rShift {
    width: calc(var(--keySize) * 2.7) !important;
}

#keyboard > .keyboardRow > .alt {
    width: calc(var(--keySize) * 1.3) !important;
}

#keyboard > .keyboardRow > .numZero {
    width: calc(var(--keySize) * 2) !important;
}

#keyboard > .keyboardRow > .space {
    width: calc(var(--keySize) * 6.4) !important;
}

#keyboard > .keyboardRow > .enter {
    width: calc(var(--keySize) * 1.5) !important;
}